{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 w-50">
    <h2>Set a new password</h2>
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.new_password1.id_for_label }}" class="form-label fw-medium">
                <i class="fas fa-key me-1 text-primary"></i>New Password
            </label>
            <input type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" class="form-control" placeholder="Enter new password" required>
            {% if form.new_password1.errors %}
                <div class="text-danger small">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.new_password2.id_for_label }}" class="form-label fw-medium">
                <i class="fas fa-key me-1 text-primary"></i>Confirm Password
            </label>
            <input type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" class="form-control" placeholder="Confirm new password" required>
            {% if form.new_password2.errors %}
                <div class="text-danger small">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-success mt-2">Change password</button>
    </form>
</div>
{% endblock %}